* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
div { margin: 0; padding: 0; }

body {
  font:10px/1.3 sans-serif;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  padding: 0; margin: 0;
}

.CodeMirror {
  width: 100%;
  height: 100%;
}

.CodeMirror-lines > div > div > div {
  padding: 3px 0;
}
